<div class="row ve-row" id="row-{{i}}">
        <div class="form-group col-sm-1">
            <button class="btn btn-sm btn-danger" data-row="{{i}}" data-col="x">X</button>
        </div>
        <div class="form-group col-sm-1">
            <input type="text" name="family_name-{{i}}" required class="form-control input-sm" data-typeahead="family" data-row="{{i}}" data-col="family_name" value="{{family_name}}">
        </div>
        <div class="form-group col-sm-1">
            <input type="text" name="given_name-{{i}}" required class="form-control input-sm" data-row="{{i}}" data-col="give_name" value="{{given_name}}">
        </div>
        <div class="form-group col-sm-1">
            <input type="text" name="organization_abbreviation-{{i}}" required class="form-control input-sm" data-typeahead="abbreviations" data-row="{{i}}" data-col="organization_abbreviation" value="{{organization_abbreviation}}">
        </div>
        <div class="form-group col-sm-3">
            <input type="text" name="organization_name-{{i}}" required class="form-control input-sm" data-typeahead="parties" data-row="{{i}}" data-col="organization_name" value="{{organization_name}}">
        </div>
        <div class="form-group col-sm-1">
            <input type="color" name="organization_color-{{i}}" required class="form-control input-sm" data-row="{{i}}" data-col="organization_color" value="{{organization_color}}">
        </div>
        <div class="form-group col-sm-4">
            <label class="radio-inline">
                <input type="radio" name="option-{{i}}" data-row="{{i}}" value="yes"><span  class="text-success">Pro</span>
            </label>
            <label class="radio-inline">
                <input type="radio" name="option-{{i}}" data-row="{{i}}" value="no"><span  class="text-danger">Proti</span>
            </label>
            <label class="radio-inline">
                <input type="radio" name="option-{{i}}" data-row="{{i}}" value="abstain"><span class="text-danger">Zdržení</span>
            </label>
            <label class="radio-inline">
                <input type="radio" name="option-{{i}}" data-row="{{i}}" value="absent"><span class="text-muted">Nepřít.</span>
            </label>
        </div>

    </div>
